<div id="<%= dom_id language %>">
  <p>
    <strong>Title:</strong>
    <%= language.title %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= language.code %>
  </p>

  <p>
    <strong>About:</strong>
    <%= language.about %>
  </p>

</div>
