<div id="<%= dom_id alternative_title %>">
  <p>
    <strong>Language:</strong>
    <%= alternative_title.language_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= alternative_title.title %>
  </p>

</div>
