<h1>Editing alternative title</h1>

<%= render "form", alternative_title: @alternative_title %>

<br>

<div>
  <%= link_to "Show this alternative title", @alternative_title %> |
  <%= link_to "Back to alternative titles", alternative_titles_path %>
</div>
