<div id="<%= dom_id dissertation %>">
  <p>
    <strong>Title:</strong>
    <%= dissertation.title %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= dissertation.language_id %>
  </p>

  <p>
    <strong>Date submited:</strong>
    <%= dissertation.date_submited %>
  </p>

</div>
