<h1>Editing dissertation</h1>

<%= render "form", dissertation: @dissertation %>

<br>

<div>
  <%= link_to "Show this dissertation", @dissertation %> |
  <%= link_to "Back to dissertations", dissertations_path %>
</div>
